* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-bold";
}

p {
  color: #8f8f8f;
  font-size: 1rem;
  line-height: 2rem;
}

/* Heading */

.big-heading {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */

.container-fluid {
  padding: 7% 10%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
  position: relative;
  z-index: 10;
}

/* Title Section */

#title {
  background-color: #380256;
  color: #fff;
  text-align: left;
  overflow: hidden;
}

#title .container-fluid {
  padding: 3% 10% 7%;
}

/* Title Image */

.title-image {
  width: 100%;
  transform: rotate(25deg);
}

@media only screen and (max-width: 1028) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
    // z-index: -10;
  }
}

/* service */

#service {
  background-color: #fccdef;
}

.service-image {
  height: 150px;
  width: 100%;
}

/* Testimonial Section */

#testimonials {
  background: transparent
    linear-gradient(rgb(56, 2, 86), rgb(165, 42, 239), rgb(110, 17, 147));
  color: #fff;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #6e1193;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  background-color: #fccdef;
  padding: 7% 10%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

#cta {
  background: transparent
    linear-gradient(rgb(56, 2, 86), rgb(165, 42, 239), rgb(110, 17, 147));
  color: #fff;
}

/* Team */

#team {
  background-color: #fccdef;
  padding: 7% 10%;
}

.team-top-section {
  padding: 3% 2%;
}
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 10rem;
  height: 10rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Contact Section */

#contact {
  background: transparent
    linear-gradient(rgb(56, 2, 86), rgb(165, 42, 239), rgb(110, 17, 147));
  color: #fff;
  padding: 7% 10%;

  // background-image: url("../assets/img/map-image.png");
  // background-repeat: no-repeat;
  // background-position: center;
}
// section#contact .section-heading {
//   color: #fff;
// }
// section#contact form#contactForm .form-group {
//   margin-bottom: 1.5rem;
// }
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
  height: auto;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contact form#contactForm p.help-block {
  margin: 0;
}
section#contact form#contactForm .form-control:focus {
  border-color: #ffc800;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-weight: 700;
  color: fff;
}
section#contact form#contactForm :-moz-placeholder {
  font-weight: 700;
  color: #fff;
}
section#contact form#contactForm ::-moz-placeholder {
  font-weight: 700;
  color: #fff;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-weight: 700;
  color: #fff;
}

/*Footer Section */

#footer {
  background-color: #fccdef;
}

.main-footer {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // grid-gap: 24px;
  text-align: left;
  a {
    color: #000000;
  }
  div {
    > h2 {
      margin-bottom: 25px;
      // text-decoration: underline;
      position: relative;
      width: max-content;
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        background-color: #380256;
        position: absolute;
        left: 0;
        bottom: 0px;
      }
    }
    > figure {
      img {
        height: 180px;
      }
    }

    > p {
      margin-bottom: 20px;
    }
    > button {
      width: 140px;
      height: 40px;
      border-radius: 10px;
      border-width: 0;
      box-shadow: 5px 5px 5px #380256;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: 0.5s;
      > span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        line-height: 40px;
        letter-spacing: 3px;
        z-index: 10;
      }
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: #6e1193;
        position: absolute;
        top: -100%;
        right: -100%;
        transition: 0.1s;
        z-index: 5;
      }
      &:hover {
        color: #fff;
        &::before {
          right: 0%;
          top: 0%;
        }
      }
    }
    > table {
      width: 100%;
      text-align: left;
      border-spacing: 0;
      tr {
        &:nth-child(odd) {
          background: rgba(0, 0, 0, 0.02);
        }
        td {
          padding: 8px 8px;
          vertical-align: top;
          &:first-child {
            text-align: center;
          }
        }
      }
    }
    > .fnav {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;

      > li {
        width: 100%;
        border: 1px solid #6e1193;
        margin: 0 5px;
        border-radius: 50%;
        transition: 0.5s;
        > a {
          text-decoration: none;
          display: block;
          line-height: 40px;
          text-align: center;
        }

        &:hover {
          background: #6e1193;
          transition: 0.5s;
          > a {
            color: #fff;
          }
        }
      }
    }
    > .catagory-list {
      list-style: none;
      padding: 0;
      text-align: left;
      > li {
        padding: 8px 0;
        > a {
          text-decoration: none;
          display: block;
          &::before {
            content: "\f00c";
            font-family: fontawesome;
            padding: 0 5px 0 0px;
            color: #6e1193;
          }
        }
      }
    }
    > form {
      text-align: left;
      margin-bottom: 20px;
      > .semail {
        width: 100%;
        display: block;
        padding: 8px;
        border-radius: 6px;
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .main-footer {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
}
@media only screen and (min-width: 620px) and (max-width: 1020px) {
  .main-footer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}
@media only screen and (min-width: 1020px) {
  .main-footer {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
  }
}

/* Footer Bottom Section */

#footer-bottom {
  background: transparent
    linear-gradient(rgb(56, 2, 86), rgb(165, 42, 239), rgb(110, 17, 147));
  > p {
    color: #fff;
  }
}

.social-icon {
  margin: 20px 10px;
}
